.flex{
    display: flex;

}
.items-center{
    align-items: center;

}
.justify-center{
justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.upercase{
    text-transform: uppercase;
     /* we have define a upercase class */
}
.semibold{
    font-weight: bolder;
}
.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}
footer{
    margin: 12px 0;
    padding: 23px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flex-wrap{

    flex-wrap: wrap;
}